Repository mana-ethereum/mana, pull requests merged in 2018-06, with the labels that each got.

#125 fix network adapter for ex_wire test
  apps/ex_wire/config/test.exs
  apps/ex_wire/test/ex_wire_test.exs
Labels: ex_wire, status: in progress

#132 add invalid operation
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/machine_code.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/metadata/system.ex
Labels: evm, status: in progress

#135 implement RETURNDATASIZE env op
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/lib/evm/operation/metadata/environmental_information.ex
  apps/evm/lib/evm/vm.ex
Labels: evm, status: in progress

#136 Make AckRespV4 behave the same as AuthMsgV4
  apps/ex_wire/lib/ex_wire/handshake/struct/ack_resp_v4.ex
  apps/ex_wire/test/ex_wire/handshake/handshake_test.exs
Labels: ex_wire, status: in progress, tag: bug fix

#127 Fix EVM tests
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/evm/README.md
  apps/evm/lib/evm/address.ex
  apps/evm/lib/evm/debugger/breakpoint.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/machine_code.ex
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/logging.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/push.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/sub_state.ex
  apps/evm/lib/evm/vm.ex
  apps/evm/test/evm/operation/system_test.exs
  apps/evm/test/evm/vm_test.exs
  apps/evm/test/evm_test.exs
  apps/exth_crypto/lib/math.ex
Labels: status: in progress

#139 add test for pop, remove comment
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/test/evm/operation/stack_memory_storage_and_flow_test.exs
Labels: status: in progress

#141 Add failing `GeneralStateTests`
  apps/blockchain/test/blockchain/state_test.exs
Labels: status: in progress

#137 add RETURNDATACOPY op
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/lib/evm/operation/metadata/environmental_information.ex
  apps/evm/lib/evm/vm.ex
  apps/evm/lib/helpers.ex
  apps/evm/test/evm/operation/stack_memory_storage_and_flow_test.exs
Labels: evm, priority: medium, status: in progress

#148 Fix Signature recovery in crypto handshake
  apps/ex_wire/lib/ex_wire/handshake/handshake.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/auth_msg_v4.ex
  apps/ex_wire/test/ex_wire/handshake/struct/auth_msg_v4_test.exs
  apps/exth_crypto/lib/signature.ex
  apps/exth_crypto/test/signature_test.exs
Labels: ex_wire, exth_crypto, status: in progress, tag: bug fix

#144 revert op
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/vm.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: evm, priority: high, status: in progress

#149 Change AuthMsgV4 and AckRespV4 keys
  apps/ex_wire/lib/ex_wire/handshake/handshake.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/ack_resp_v4.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/auth_msg_v4.ex
  apps/ex_wire/test/ex_wire/handshake/handshake_test.exs
  apps/ex_wire/test/ex_wire/handshake/struct/auth_msg_v4_test.exs
Labels: ex_wire, status: in progress, tag: enhancement

#152 Static call op
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/system.ex
Labels: evm, status: in progress

#156 Fix Debugger memory contents inspection
  apps/evm/lib/evm/debugger.ex
Labels: evm, status: in progress, tag: bug fix

#158 bump elixir version to 1.6.5
  .circleci/config.yml
  apps/abi/mix.exs
  apps/blockchain/mix.exs
  apps/evm/mix.exs
  apps/ex_wire/mix.exs
  apps/exth_crypto/mix.exs
  apps/merkle_patricia_tree/mix.exs
  mix.exs
Labels: status: in progress

#154 Fix contract creation
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/contract.ex
  apps/blockchain/lib/blockchain/contract/address.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/interface/block_interface.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/contract/message_call_test.exs
  apps/blockchain/test/blockchain/contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/machine_code.ex
  apps/evm/lib/evm/memory.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/sub_state.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: blockchain, evm, status: in progress, tag: bug fix

#157 Delegatecall op
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/system.ex
Labels: evm, status: in progress

#163 Fix inbound handshake & add naive TCP inbound implementation
  apps/ex_wire/lib/ex_wire/adapter/tcp.ex
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/test/ex_wire/handshake_test.exs
  apps/exth_crypto/lib/ecies/ecdh.ex
Labels: ex_wire, status: in progress

#169 Improve Handshake.handle_ack/2 and TCP.Server
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/lib/ex_wire/tcp.ex
  apps/ex_wire/test/ex_wire/handshake_test.exs
Labels: ex_wire, status: in progress

#170 Uncomment passing GeneralState tests
  apps/blockchain/test/blockchain/state_test.exs
Labels: status: in progress

#173 Add peer struct to inbound TCP.Server
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/crypto.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/auth_msg_v4.ex
  apps/ex_wire/lib/ex_wire/struct/peer.ex
  apps/ex_wire/lib/ex_wire/tcp.ex
  apps/ex_wire/test/ex_wire/handshake_test.exs
  apps/exth_crypto/lib/signature.ex
Labels: ex_wire, status: in progress, tag: internal

#177 Fix sstore refunds and zero value saving
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/lib/evm/refunds.ex
  apps/evm/test/evm/refunds_test.exs
Labels: status: in progress

#176 Resolve the chain spec json file relative to the file reading it
  apps/blockchain/lib/blockchain/chain.ex
Labels: status: in progress

#179 fix decoding value from trie
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: status: in progress

#182 recursive bomb 2 test, overflowing values
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/functions.ex
Labels: status: in progress

#184 fix failed call execution
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: status: in progress

#187 increment words count for call operation
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/system.ex
Labels: status: in progress

#189 fix stackdepth incrementation for callcode operations
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/system.ex
Labels: status: in progress

#188 fix sstore for not existing account
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/test/evm/refunds_test.exs
  apps/evm/test/evm/vm_test.exs
Labels: evm, status: in progress

#183 Add DEVp2p Handshake and fix secrets
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/framing/secrets.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/test/ex_wire/framing/secrets_test.exs
  apps/ex_wire/test/integration/dev_p2p_communication_test.exs
Labels: ex_wire, status: in progress

#191 fix new account nonce and available gas for execution
  apps/blockchain/lib/blockchain/contract.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm/operation/system.ex
Labels: evm, status: in progress

#193 consider created account memory cost
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: status: in progress

#195 set block env data
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/operation/environmental_information.ex
Labels: blockchain, evm, status: in progress

#196 fix new account hash collisions
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/vm.ex
Labels: blockchain, evm, priority: medium, status: in progress

#197 update selfdestruct list on suicide
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: evm, status: in progress

#198 check for simple account in contract creation
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: blockchain, evm, status: in progress

#199 fix stack overflow tests
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/operation/metadata/push.ex
  apps/evm/lib/evm/operation/system.ex
Labels: blockchain, evm, status: in progress
