Repository mana-ethereum/mana, pull requests merged in 2018-08, with the labels that each got.

#306 Extract P2P logic from TCP.Server
  .circleci/config.yml
  apps/ex_wire/lib/ex_wire/adapter/tcp.ex
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/p2p.ex
  apps/ex_wire/lib/ex_wire/p2p/server.ex
  apps/ex_wire/lib/ex_wire/peer_supervisor.ex
  apps/ex_wire/lib/ex_wire/tcp.ex
  apps/ex_wire/lib/ex_wire/tcp/inbound_connections_supervisor.ex
  apps/ex_wire/test/integration/dev_p2p_communication_test.exs
  apps/ex_wire/test/integration/remote_connection_test.exs
Labels: ex_wire, status: in progress

#308 evm configuration
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction/validity_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/system.ex
  apps/ex_wire/lib/ex_wire/sync.ex
Labels: blockchain, evm, status: in progress

#315 add new logs to the end of list
  apps/evm/lib/evm/sub_state.ex
  apps/evm/test/evm/sub_state_test.exs
  apps/evm/test/evm_test.exs
Labels: evm, status: in progress

#316 use decimal library for arithmetic
  apps/evm/lib/evm/operation/stop_and_arithmetic.ex
  apps/evm/lib/math_helper.ex
  apps/evm/mix.exs
  apps/evm/test/math_helper_test.exs
  mix.lock
Labels: evm, status: in progress

#318 Catch timeout errors in the `sync_with_infura` script
  apps/blockchain/scripts/sync_with_infura.ex
Labels: status: in progress

#319 configure blockchain tests
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/chain.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#321 Update failing blockchain tests
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#323 Fix memory cost for EXTCODECOPY
  .circleci/config.yml
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/gas.ex
Labels: evm, status: in progress

#320 Save block_tree state in `sync_with_infura` script
  apps/blockchain/scripts/sync_with_infura.ex
Labels: status: in progress

#326 EIP2: out of gas error on contract creation if not enough gas
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
Labels: blockchain, evm, status: in progress

#334 call with all but one 64th of the maximum allowed amount of gas
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/stack.ex
  apps/evm/test/evm/gas_test.exs
Labels: evm, status: in progress

#336 one 64th of the parent gas for CREATE
  README.md
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/lib/evm/operation/system.ex
Labels: evm, status: in progress

#337 fix nested create suicide EIP150
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/system.ex
Labels: blockchain, evm, status: in progress

#340 choose min between 63/64 and required gas for call operations eip150
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
Labels: blockchain, evm, status: in progress

#341 upgrade elixir version
  .circleci/config.yml
  README.md
  mix.exs
Labels: status: in progress, tag: internal

#344 fix gas cost for suicide operations (EIP150)
  .dialyzer.ignore-warnings
  .tool-versions
  README.md
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/test/evm_test.exs
Labels: blockchain, evm, status: in progress

#346 eip160 change byte cost for exp op
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/gas.ex
Labels: blockchain, evm, status: in progress

#350 limit code size EIP170
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
Labels: blockchain, evm, status: in progress

#353 change start nonce for EIP161
  README.md
  apps/blockchain/lib/blockchain/contract.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
Labels: blockchain, evm, status: in progress

#354 Validate signature's s-value in transaction validity
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/transaction/signature.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/blockchain/test/blockchain/transaction/validity_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
Labels: blockchain, evm, status: in progress

#335 blockchain app content
  README.md
  apps/blockchain/LICENSE.md
  apps/blockchain/README.md
  apps/blockchain/lib/blockchain.ex
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/application.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/bloom.ex
  apps/blockchain/lib/math_helper.ex
  apps/blockchain/lib/test.ex
Labels: status: in progress

#356 charge cost for new account only if value is transferred
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
Labels: blockchain, evm, status: in progress

#355 Fix some dyalizer issues
  apps/ex_wire/lib/ex_wire/framing/frame.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/auth_msg_v4.ex
  apps/ex_wire/lib/ex_wire/packet.ex
  apps/ex_wire/lib/ex_wire/packet/transactions.ex
  apps/exth_crypto/lib/exth_crypto/mac.ex
Labels: status: in progress

#358 EIP 684: Prevent overwriting contracts
  README.md
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#359 clean touched accounts EIP161
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/sub_state.ex
Labels: blockchain, evm, status: in progress

#360 consider beneficiary when cleaning touched accounts (EIP161)
  README.md
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/sub_state.ex
Labels: blockchain, evm, status: in progress

#361 add message call recipient to touched accounts (EIP161)
  README.md
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, evm, status: in progress

#363 fix gas cost for call op EIP161
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/gas.ex
Labels: blockchain, evm, status: in progress

#339 Remove unused variables from sync_with_infura script
  apps/blockchain/scripts/sync_with_infura.ex
Labels: status: in progress

#367 Fix test_group from path retrieval in state tests
  apps/blockchain/test/blockchain/state_test.exs
Labels: status: in progress, tag: internal

#369 Increment nonce of touched accounts on CREATE
  README.md
  apps/blockchain/lib/blockchain/contract.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/eth_common_test/helpers.ex
  apps/blockchain/test/blockchain/contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/byzantium.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
Labels: blockchain, status: in progress

#371 update libsecp256k1, remove libsecp256k1 build instructions
  .circleci/config.yml
  apps/exth_crypto/mix.exs
  bin/setup
Labels: status: in progress

#373 new cache prefix
  .circleci/config.yml
Labels: status: in progress

#374 Run Blockchain Tests in different processes
  apps/blockchain/test/blockchain_test.exs
Labels: status: in progress, tag: internal

#372 Fix bug at block #116524
  apps/blockchain/scripts/evm_runner.ex
  apps/evm/README.md
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/test/evm/operation/environmental_information_test.exs
Labels: status: in progress

#376 Run state tests in different processes
  apps/blockchain/mix.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/blockchain/test/support/async_common_tests.ex
Labels: blockchain, status: in progress, tag: internal

#377 Check in mix.lock file
  mix.lock
Labels: status: in progress, tag: internal

#378 Parallelize tests by separating blockchain/state_tests
  .circleci/config.yml
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  bin/test_command_for_node
Labels: blockchain, status: in progress, tag: internal

#379 Use Task.async_stream/3 instead of AsyncCommonTests
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/blockchain/test/support/async_common_tests.ex
Labels: blockchain, status: in progress, tag: internal

#381 parallelize state tests script
  apps/blockchain/scripts/generate_state_tests.ex
Labels: status: in progress

#384 Split tests by groups instead of forks
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#390 Extract difficulty hardfork check to Block
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/evm/lib/block/header.ex
  apps/evm/test/block/header_test.exs
Labels: blockchain, evm, status: in progress

#383 implement exp mod builtin
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/byzantium.ex
  apps/evm/lib/evm/configuration/eip150.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/message_call.ex
Labels: evm, status: in progress

#391 fix last return data for revert
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/message_call.ex
Labels: evm, status: in progress, tag: bug fix

#392 Add Byzantium difficulty calculation
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
  apps/blockchain/test/support/byzantium_failing_tests.txt
  apps/evm/lib/block/header.ex
  apps/evm/test/block/header_test.exs
Labels: blockchain, evm, status: in progress

#395 Implement EIP-649
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/blocktree_test.exs
  apps/blockchain/test/support/byzantium_failing_tests.txt
Labels: blockchain, status: in progress

#396 Parallelize generate_blockchain_tests script
  apps/blockchain/scripts/generate_blockchain_tests.ex
Labels: blockchain, status: in progress
