Repository mana-ethereum/mana, pull requests merged in 2018-10, with the labels that each got.

#458 work with cache when adding blocks
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/interface/account_interface/cache.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/interface/account_interface/cache_test.exs
  apps/blockchain/test/blockchain/interface/account_interface_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/blockchain/test/support/state_test_runner.ex
Labels: status: in progress

#454 Use EIP161 chain config for EIP158
  apps/blockchain/lib/blockchain/chain.ex
  chains/eip161_test.json
Labels: blockchain, status: in progress

#452 Ag yp equation updates
  apps/blockchain/lib/bit_helper.ex
  apps/blockchain/lib/blockchain.ex
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/account/address.ex
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
Labels: status: in progress

#463 Simulate coinbase reward/clean-up in state tests
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/account_cleaner.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/support/state_test_runner.ex
Labels: blockchain, status: in progress

#464 do not keep all blocks in memory
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/test/blockchain/blocktree_test.exs
  apps/blockchain/test/support/state_test_runner.ex
  apps/ex_wire/lib/ex_wire/struct/block_queue.ex
  mix.exs
Labels: blockchain, status: in progress

#466 Move test runners out of test/support
  .dialyzer.ignore-warnings
  apps/blockchain/lib/eth_common_test/blockchain_test_runner.ex
  apps/blockchain/lib/eth_common_test/state_test_runner.ex
  apps/blockchain/lib/mix/tasks/common_tests.run.ex
  apps/blockchain/lib/mix/tasks/state_tests.run.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#467 EIP-155 signature schema
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/signature.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/blockchain/lib/eth_common_test/state_test_runner.ex
  apps/blockchain/scripts/sync_with_infura.ex
  apps/blockchain/test/blockchain/transaction/validity_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
Labels: status: in progress

#462 Configure the EVM based on the block number
  apps/blockchain/lib/blockchain/chain.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/blockchain/lib/test.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/chain_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction/validity_test.exs
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/byzantium.ex
  apps/evm/lib/evm/configuration/eip158.ex
  apps/evm/lib/evm/configuration/spurious_dragon.ex
  apps/evm/lib/evm/configuration/tangerine_whistle.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/test/evm/gas_test.exs
Labels: status: in progress

#470 remove ropsten.dat file
  apps/blockchain/test/ropsten_test.exs
  apps/blockchain/test/support/ropsten.dat
Labels: status: in progress

#465 validate receipts
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/test.ex
  apps/blockchain/test/blockchain/block_test.exs
Labels: blockchain, status: in progress

#473 Make BlockInterface into a behaviour
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block_header_info.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/lib/blockchain/interface/block_interface.ex
  apps/blockchain/scripts/evm_runner.ex
  apps/blockchain/test/blockchain/block_header_info_test.exs
  apps/evm/README.md
  apps/evm/lib/evm/block_header_info.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/block_interface.ex
  apps/evm/lib/evm/interface/mock/mock_block_interface.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/mock/mock_block_header_info.ex
  apps/evm/lib/evm/operation.ex
  apps/evm/lib/evm/operation/block_information.ex
  apps/evm/lib/evm/operation/logging.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/block_header_info_test.exs
  apps/evm/test/evm/interface/mock/mock_block_interface_test.exs
  apps/evm/test/evm/mock/mock_block_header_info_test.exs
  apps/evm/test/evm/operation/block_information_test.exs
  apps/evm/test/evm/operation/system_test.exs
  apps/evm/test/evm_test.exs
Labels: status: in progress

#477 separate builtin contracts
  apps/evm/lib/evm/builtin.ex
  apps/evm/lib/evm/builtin/ec_add.ex
  apps/evm/lib/evm/builtin/ec_mult.ex
  apps/evm/lib/evm/builtin/ec_pairing.ex
  apps/evm/lib/evm/builtin/ecrec.ex
  apps/evm/lib/evm/builtin/id.ex
  apps/evm/lib/evm/builtin/mod_exp.ex
  apps/evm/lib/evm/builtin/rip160.ex
  apps/evm/lib/evm/builtin/sha256.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/hex_prefix.ex
Labels: status: in progress

#480 fix fork configuration resolving
  apps/blockchain/lib/eth_common_test/helpers.ex
  apps/blockchain/lib/eth_common_test/state_test_runner.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: blockchain, status: in progress

#482 use ipc client for synchronisation
  apps/blockchain/config/dev.secret.exs.example
  apps/blockchain/mix.exs
  apps/blockchain/scripts/sync_with_infura.ex
  apps/evm/mix.exs
  apps/merkle_patricia_tree/mix.exs
  mix.exs
  mix.lock
Labels: status: in progress

#483 Clarify Gas.cost/cost_with_status
  .dialyzer.ignore-warnings
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/machine_state.ex
  apps/evm/test/evm/gas_test.exs
Labels: evm, status: in progress

#484 Fix consensus bug at block 1237678
  apps/evm/lib/evm/message_call.ex
  apps/evm/test/evm/message_call_test.exs
Labels: status: in progress

#488 logs bloom validation
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/transaction/receipt/bloom.ex
  apps/evm/lib/evm/builtin/ecrec.ex
  apps/evm/lib/evm/message_call.ex
Labels: blockchain, status: in progress

#489 Use config variable instead of chain
  apps/blockchain/lib/blockchain/transaction.ex
Labels: status: in progress

#486 Fix memory error at 1417555
  apps/evm/lib/evm/memory.ex
  apps/evm/test/evm/memory_test.exs
Labels: status: in progress

#493 Update readme block numbers
  README.md
Labels: status: in progress

#496 Correct EVM.state() to Trie.t()
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/account/repo/cache.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/account/repo_test.exs
Labels: blockchain, status: in progress

#497 fix writing to memory
  README.md
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/memory.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/test/evm/memory_test.exs
  apps/evm/test/evm/message_call_test.exs
Labels: evm, status: in progress

#501 fix extcodecopy
  apps/evm/lib/evm/mock/mock_account_repo.ex
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/test/evm/operation/environmental_information_test.exs
Labels: status: in progress

#503 fix codecopy
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/test/evm/operation/environmental_information_test.exs
Labels: status: in progress

#504 disable receipts validation for now
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
Labels: status: in progress

#505 Fix state_tests.run --fork alias
  apps/blockchain/lib/mix/tasks/state_tests.run.ex
Labels: blockchain, status: in progress

#507 fix substate deduplication
  apps/evm/lib/evm/sub_state.ex
  apps/evm/test/evm/refunds_test.exs
  apps/evm/test/evm/sub_state_test.exs
  apps/evm/test/evm/vm_test.exs
Labels: evm, status: in progress

#508 Add Blockchain.Account.Inspector
  apps/blockchain/lib/blockchain/account/inspector.ex
  apps/blockchain/test/blockchain/account/inspector_test.exs
Labels: blockchain, status: in progress

#509 Touch RIPEMD account on failure
  README.md
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/builtin/rip160.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/test/evm/message_call_test.exs
Labels: blockchain, evm, status: in progress

#511 Update blockchain failing tests
  README.md
  apps/blockchain/test/support/byzantium_failing_tests.txt
Labels: blockchain, status: in progress

#514 fix call gas cost
  apps/evm/lib/evm/gas.ex
Labels: status: in progress

#512 fix logs order in receipts
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: evm, status: in progress

#510 Rename common_tests.run task to blockchain_tests.run
  apps/blockchain/lib/mix/tasks/blockchain_tests.run.ex
  apps/blockchain/lib/mix/tasks/state_tests.run.ex
Labels: blockchain, status: in progress

#516 Derive current block from tree in sync_with_infura
  apps/blockchain/scripts/sync_with_infura.ex
Labels: blockchain, status: in progress

#517 set last_return_data to empty binary on message call failure
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/message_call.ex
  apps/evm/test/evm/message_call_test.exs
Labels: evm, status: in progress

#520 reimplement EIP658
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/support/byzantium_failing_tests.txt
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/byzantium.ex
  apps/evm/lib/evm/configuration/constantinople.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/configuration/spurious_dragon.ex
  apps/evm/lib/evm/configuration/tangerine_whistle.ex
Labels: blockchain, status: in progress

#518 fix output in revert during create
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/account/repo.ex
  apps/blockchain/lib/blockchain/contract.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/contract/create_contract_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/support/byzantium_failing_tests.txt
  apps/evm/lib/evm/account_repo.ex
  apps/evm/lib/evm/mock/mock_account_repo.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: blockchain, evm, status: in progress

#521 fix Byzantium blockchain tests
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
  apps/blockchain/test/support/byzantium_failing_tests.txt
Labels: blockchain, status: in progress

#526 fix modexp output
  README.md
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/builtin/mod_exp.ex
Labels: evm

#529 set storage root of a new account to empty trie
  .dialyzer.ignore-warnings
  README.md
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/account/repo.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/blockchain/test/support/constantinople_failing_tests.txt
Labels: blockchain, evm, status: in progress

#531 Improve EVM.Logger output
  apps/evm/README.md
  apps/evm/lib/evm/logger.ex
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/vm.ex
Labels: evm, status: in progress

#530 Update license to dual MIT / Apache 2.0
  COPYRIGHT
  LICENSE
  LICENSE_APACHE
  LICENSE_MIT
  README.md
Labels: status: in progress

#532 fix extcodehash opcode parameter
  apps/evm/lib/evm/memory.ex
  apps/evm/lib/evm/operation/environmental_information.ex
Labels: status: in progress

#533 turn on eip1283
  apps/blockchain/scripts/generate_state_tests.ex
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/constantinople.ex
Labels: status: in progress

#535 Simplify extcodecopy conditional logic
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/test/evm/operation/environmental_information_test.exs
Labels: evm, status: in progress

#536 Make EVM.Configuration simpler
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/account_cleaner.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/evm/lib/evm/configuration.ex
  apps/evm/lib/evm/configuration/byzantium.ex
  apps/evm/lib/evm/configuration/constantinople.ex
  apps/evm/lib/evm/configuration/frontier.ex
  apps/evm/lib/evm/configuration/homestead.ex
  apps/evm/lib/evm/configuration/spurious_dragon.ex
  apps/evm/lib/evm/configuration/tangerine_whistle.ex
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/refunds/sstore.ex
Labels: evm, status: in progress

#540 upgrade ethereumex, ex_rlp
  apps/blockchain/mix.exs
  apps/evm/mix.exs
  apps/ex_wire/mix.exs
  apps/merkle_patricia_tree/mix.exs
  mix.exs
  mix.lock
Labels: status: in progress

#542 Mekle Patricia Trie Cache
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/account/repo.ex
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/evm/lib/evm/account_repo.ex
  apps/ex_wire/lib/ex_wire/struct/block_queue.ex
  apps/merkle_patricia_tree/README.md
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/caching_trie.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/storage.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/builder.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/destroyer.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/fetcher.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/helper.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/inspector.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/storage.ex
  apps/merkle_patricia_tree/test/merkle_patricia_tree/caching_trie_test.exs
  apps/merkle_patricia_tree/test/merkle_patricia_tree/trie_test.exs
  apps/merkle_patricia_tree/test/merkle_patricia_tree_test.exs
Labels: status: in progress

#553 Implement Ethash.seed_hash
  apps/blockchain/lib/blockchain/ethash.ex
  apps/blockchain/test/blockchain/ethash_test.exs
Labels: blockchain, status: in progress

#555 Add Ethash.initial_cache
  apps/blockchain/lib/blockchain/ethash.ex
  apps/blockchain/test/blockchain/ethash_test.exs
  apps/exth_crypto/lib/exth_crypto/hash/keccak.ex
Labels: status: in progress

#552 Trie with cache
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/block/holistic_validity.ex
  apps/blockchain/lib/blockchain/block_header_info.ex
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/lib/blockchain/contract/message_call.ex
  apps/blockchain/lib/blockchain/genesis.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/eth_common_test/blockchain_test_runner.ex
  apps/blockchain/lib/eth_common_test/state_test_runner.ex
  apps/blockchain/test/blockchain/block_header_info_test.exs
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/blocktree_test.exs
  apps/cli/lib/cli.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/caching_trie.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/storage.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/builder.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/destroyer.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie/fetcher.ex
  apps/merkle_patricia_tree/lib/merkle_patricia_tree/trie_storage.ex
  apps/merkle_patricia_tree/test/merkle_patricia_tree/caching_trie_test.exs
  apps/merkle_patricia_tree/test/merkle_patricia_tree/trie_test.exs
Labels: blockchain, merkle_patricia_tree, status: in progress
