Repository mana-ethereum/mana, pull requests merged in 2018-07, with the labels that each got.

#202 fix reading memory with offset
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/environmental_information.ex
Labels: evm, status: in progress

#204 fix extcodecopy gas price
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/gas.ex
Labels: evm, priority: medium, status: in progress

#207 skip delegatecall for now
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/metadata/system.ex
Labels: evm, status: in progress

#208 Skip static call
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: evm, status: in progress

#210 skip eip-211 operations
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/operation/metadata/environmental_information.ex
Labels: evm, status: in progress

#209 Fix failing test count in general state test generator
  apps/blockchain/scripts/generate_state_tests.ex
Labels: status: in progress

#213 fix blockhash operation
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/block/header.ex
  mix.lock
Labels: evm, status: in progress

#214 out-of-gas error in builtins
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: evm, status: in progress

#215 Test fixes
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
Labels: evm, status: in progress

#217 fix sha256 builtin cost
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
Labels: evm, status: in progress

#218 Return a padded address from `BuiltIn.ecrecover` instead of a public key
  .dialyzer.ignore-warnings
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/address.ex
  apps/evm/lib/evm/builtin.ex
  apps/exth_crypto/lib/signature.ex
Labels: status: in progress

#219 fix large data for ecrec
  .dialyzer.ignore-warnings
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
Labels: evm, status: in progress

#222 remove key from storage on sstore
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/test/evm/refunds_test.exs
Labels: evm, status: in progress

#224 fix state tests
  apps/blockchain/test/blockchain/state_test.exs
Labels: blockchain, status: in progress

#228 Add a script for syncing mainnet through Infura
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/chain.ex
  apps/blockchain/mix.exs
  apps/blockchain/scripts/sync_with_infura.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/evm/lib/block/header.ex
  chains/foundation.json
  mix.exs
  mix.lock
Labels: status: in progress

#220 Don't write to memory when invalid input is given
  .dialyzer.ignore-warnings
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/builtin.ex
  apps/evm/lib/evm/machine_state.ex
  apps/evm/lib/evm/message_call.ex
Labels: status: in progress

#235 Standardize ExWire.Handshake functions
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/test/ex_wire/handshake_test.exs
Labels: ex_wire, status: in progress

#233 Blockchain tests
  apps/blockchain/lib/blockchain/chain.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
  chains/frontier_test.json
Labels: blockchain, status: in progress

#238 add passing/failing blockchain tests count
  apps/blockchain/scripts/generate_blockchain_tests.ex
Labels: blockchain, status: in progress

#237 Closes #236: Use rocksdb when syncing with Infura
  .gitignore
  apps/blockchain/config/config.exs
  apps/blockchain/config/test.exs
  apps/blockchain/scripts/sync_with_infura.ex
Labels: status: in progress

#240 Merge nested sub states
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/refunds.ex
  apps/evm/lib/evm/sub_state.ex
  apps/evm/test/evm/operation/system_test.exs
Labels: blockchain, evm, status: in progress

#244 fix merging refunds for account suicides
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/refunds.ex
  apps/evm/lib/evm/sub_state.ex
Labels: evm, status: in progress

#246 fix revertprefound test
  apps/blockchain/lib/blockchain/contract/create_contract.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, evm, status: in progress

#247 generate state tests dynamically
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: blockchain, evm, status: in progress

#250 fix createNameRegistratorPerTxsAfter test
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
Labels: blockchain, status: in progress

#243 Include `init` when initializing transactions in tests
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
Labels: status: in progress

#251 Handle nil ommer and transaction lists in blockchain tests
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
Labels: status: in progress

#258 Add EVM.Interface.BlockInterface.get_ancestor_header
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/interface/block_interface.ex
  apps/blockchain/test/blockchain/interface/block_interface_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/interface/block_interface.ex
  apps/evm/lib/evm/interface/mock/mock_block_interface.ex
  apps/evm/lib/evm/operation/block_information.ex
Labels: status: in progress

#261 validate logs
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
Labels: blockchain, status: in progress

#263 fix dialyzer
  .dialyzer.ignore-warnings
Labels: status: in progress

#264 Don't double count `data` and `init` when calculating intrinsic gas
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#266 fix recursive-bomb-log2 test
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/message_call.ex
  apps/evm/lib/evm/sub_state.ex
  apps/evm/test/evm_test.exs
Labels: blockchain, evm, status: in progress

#267 separate ci checks
  .circleci/config.yml
Labels: status: in progress, tag: internal

#268 fix stSystemOperationsTest/CallRecursiveBombLog test
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/evm/lib/evm/sub_state.ex
Labels: blockchain, evm, status: in progress

#271 check readability with credo
  .circleci/config.yml
  .credo.exs
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/scripts/sync_with_infura.ex
  apps/blockchain/test/blockchain/bloom_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm/debugger.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/metadata/system.ex
  apps/evm/lib/evm/operation/sha3.ex
  apps/evm/lib/evm/operation/stack_memory_storage_and_flow.ex
  apps/evm/lib/evm/vm.ex
  apps/evm/test/evm/gas_test.exs
  apps/evm/test/evm/operation/system_test.exs
  apps/evm/test/evm/refunds_test.exs
  apps/evm/test/evm/vm_test.exs
  apps/ex_wire/lib/ex_wire/framing/frame.ex
  apps/ex_wire/test/ex_wire/kademlia/node_test.exs
  apps/ex_wire/test/ex_wire/message/ping_test.exs
  apps/ex_wire/test/ex_wire_test.exs
  apps/ex_wire/test/integration/dev_p2p_communication_test.exs
  apps/ex_wire/test/integration/remote_connection_test.exs
  apps/ex_wire/test/support/ex_wire/test_helper.ex
  apps/merkle_patricia_tree/lib/trie/storage.ex
  mix.exs
Labels: status: in progress, tag: internal

#272 fix ci
  .circleci/config.yml
  .dialyzer.ignore-warnings
Labels: status: in progress

#273 validate transactions before execution
  apps/blockchain/lib/blockchain/transaction.ex
  apps/blockchain/lib/blockchain/transaction/validity.ex
  apps/blockchain/scripts/generate_state_tests.ex
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain/transaction/validity_test.exs
Labels: blockchain, status: in progress

#275 do not calculate blockhash for genesis blocks in tests
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#280 fix randomStatetest21BC
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/operation/environmental_information.ex
Labels: blockchain, evm, status: in progress

#283 Upgrade Rox
  .circleci/config.yml
  apps/merkle_patricia_tree/mix.exs
  mix.lock
Labels: status: in progress

#284 Clear balance when calling SELFDESTRUCT
  apps/blockchain/lib/blockchain/account.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/address.ex
  apps/evm/lib/evm/exec_env.ex
  apps/evm/lib/evm/interface/account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/operation/system.ex
  apps/evm/lib/evm/sub_state.ex
Labels: evm, status: in progress

#286 Compile libsecp256k1 manually with rebar
  apps/exth_crypto/mix.exs
  bin/setup
Labels: status: in progress, tag: documentation, tag: internal

#290 set mix_hash on validation stage
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/logger.ex
Labels: blockchain, status: in progress

#292 fix signed operations helper
  apps/blockchain/test/blockchain/state_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/helpers.ex
Labels: blockchain, evm, status: in progress

#296 fix credo warnings
  .circleci/config.yml
  .credo.exs
  .dialyzer.ignore-warnings
  apps/abi/lib/abi/function_selector.ex
  apps/abi/lib/abi/type_encoder.ex
  apps/blockchain/lib/blockchain/account/storage.ex
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/blockchain/lib/blockchain/transaction/signature.ex
  apps/blockchain/lib/eth_common_test/helpers.ex
  apps/blockchain/scripts/sync_with_infura.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/contract/message_call_test.exs
  apps/blockchain/test/blockchain/contract_test.exs
  apps/blockchain/test/blockchain/interface/block_interface_test.exs
  apps/blockchain/test/blockchain/transaction_test.exs
  apps/evm/lib/evm/address.ex
  apps/evm/lib/evm/debugger.ex
  apps/evm/lib/evm/functions.ex
  apps/evm/lib/evm/gas.ex
  apps/evm/lib/evm/interface/mock/mock_account_interface.ex
  apps/evm/lib/evm/interface/mock/mock_block_interface.ex
  apps/evm/lib/evm/logger.ex
  apps/evm/lib/evm/machine_code.ex
  apps/evm/lib/evm/memory.ex
  apps/evm/lib/evm/operation/environmental_information.ex
  apps/evm/lib/evm/operation/stop_and_arithmetic.ex
  apps/ex_wire/lib/ex_wire/adapter/tcp/server.ex
  apps/ex_wire/lib/ex_wire/adapter/udp.ex
  apps/ex_wire/lib/ex_wire/exth.ex
  apps/ex_wire/lib/ex_wire/framing/frame.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/lib/ex_wire/packet/block_headers.ex
  apps/ex_wire/lib/ex_wire/packet/hello.ex
  apps/ex_wire/lib/ex_wire/packet/status.ex
  apps/ex_wire/lib/ex_wire/packet/transactions.ex
  apps/ex_wire/lib/ex_wire/struct/block_queue.ex
  apps/ex_wire/lib/ex_wire/sync.ex
  apps/ex_wire/test/ex_wire/framing/frame_test.exs
  apps/ex_wire/test/ex_wire/handshake_test.exs
  apps/ex_wire/test/integration/remote_connection_test.exs
  apps/exth_crypto/lib/ecies.ex
  apps/exth_crypto/lib/kdf/nist_sp_800_56.ex
  apps/exth_crypto/lib/mac.ex
Labels: status: in progress, tag: internal

#299 add blocks by timestamp
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#297 Return hash of block in BLOCKHASH
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/block.ex
  apps/blockchain/lib/blockchain/chain.ex
  apps/blockchain/lib/blockchain/genesis.ex
  apps/blockchain/lib/blockchain/interface/block_interface.ex
  apps/blockchain/test/blockchain/block_test.exs
  apps/blockchain/test/blockchain/blocktree_test.exs
  apps/blockchain/test/blockchain/genesis_test.exs
  apps/blockchain/test/blockchain/interface/block_interface_test.exs
  apps/blockchain/test/blockchain_test.exs
  apps/evm/lib/evm/interface/mock/mock_block_interface.ex
  apps/evm/lib/evm/operation/block_information.ex
  apps/evm/test/evm/operation/block_information_test.exs
Labels: blockchain, evm, status: in progress

#304 Cache dialyzer's PLT in CI
  .circleci/config.yml
  .tool-versions
Labels: status: in progress, tag: internal

#303 fix choosing best block
  apps/blockchain/lib/blockchain/blocktree.ex
  apps/blockchain/scripts/generate_blockchain_tests.ex
  apps/blockchain/test/blockchain_test.exs
Labels: blockchain, status: in progress

#305 Fix mis-typed types
  .dialyzer.ignore-warnings
  apps/blockchain/lib/blockchain/interface/account_interface.ex
  apps/ex_wire/lib/ex_wire/handler.ex
  apps/ex_wire/lib/ex_wire/handler/pong.ex
  apps/ex_wire/lib/ex_wire/handshake.ex
  apps/ex_wire/lib/ex_wire/handshake/eip_8.ex
  apps/ex_wire/lib/ex_wire/handshake/struct/auth_msg_v4.ex
  apps/ex_wire/lib/ex_wire/kademlia/bucket.ex
  apps/ex_wire/lib/ex_wire/message.ex
  apps/ex_wire/lib/ex_wire/message/find_neighbours.ex
  apps/ex_wire/lib/ex_wire/message/neighbours.ex
  apps/ex_wire/lib/ex_wire/protocol.ex
  apps/ex_wire/lib/ex_wire/struct/block_queue.ex
  apps/ex_wire/lib/ex_wire/struct/peer.ex
  apps/exth_crypto/lib/aes.ex
  apps/exth_crypto/lib/ecies/parameters.ex
  apps/exth_crypto/lib/exth_crypto.ex
  apps/exth_crypto/lib/hash.ex
  apps/exth_crypto/lib/hash/keccak.ex
Labels: status: in progress, tag: internal
